body {
  background-color: slateblue;
  color: white;
  font-family: "Trebuchet MS";
  text-align: center;
}

.image-container {
  text-align: center; /* Centers inline/inline-block content within the container */
  margin-bottom: 20px; /* Optional: Add some space below the image */
}

#profile01 {
  border-radius: 50%;
  border: 5px solid black;
  max-width: 100%;
  height: auto;
}

#Name {
  font-size: 18px;
}
.centertext {
  text-align: center;

}

#buttoncontainer {
  width: 100%;
  display: flex;
}

a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 5px;
  color: slateblue;
  width: 500px;

}
